
#define CM_EXIT	24340
#define BITMAP_3	408
#define BITMAP_2	402
#define BITMAP_1	407
MENU_1 MENU 
BEGIN
	POPUP "&Génération"
	BEGIN
		MENUITEM "&Parole", 101
		MENUITEM "&Sinusoïde", 102
		MENUITEM "&Musique", 103
		MENUITEM "&Fermeture", 104
		MENUITEM SEPARATOR
		MENUITEM "&Quitter", CM_EXIT
	END

	POPUP "&Modulation"
	BEGIN
		POPUP "Delta &Simple"
		BEGIN
			MENUITEM "Schém&a", 2011
			MENUITEM "&Paramètre", 2012
		END

		POPUP "Delta &Adaptative"
		BEGIN
			MENUITEM "Sché&ma", 2021
			MENUITEM "Pa&ramètres", 2022
		END

	END

	POPUP "&Canal"
	BEGIN
		MENUITEM "Canal &Parfait", 301
		MENUITEM "Canal &Bruité", 302
	END

	POPUP "&Démodulation"
	BEGIN
		POPUP "&Delta"
		BEGIN
			MENUITEM "&Schéma", 4011
			MENUITEM "&Action", 4012
		END

		POPUP "Delta &Adaptatif"
		BEGIN
			MENUITEM "&Schéma", 4021
			MENUITEM "&Action", 4022
		END

	END

	POPUP "&Visualisation"
	BEGIN
		POPUP "&Signal"
		BEGIN
			MENUITEM "Signal S&ource", 6011
			MENUITEM "Signal &Restitué", 6012
		END

		MENUITEM "S&pectre", 602
	END

	MENUITEM "&Ecoute", 701
END


32512 DIALOG 12, 35, 203, 131
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "FICHIER"
BEGIN
	LTEXT "File&name:", -1, 8, 11, 36, 10
	CONTROL "", 4095, "EDIT", ES_LEFT | ES_AUTOHSCROLL | ES_OEMCONVERT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 44, 9, 98, 12
	LTEXT "Directory:", -1, 8, 23, 36, 10
	LTEXT "", 4094, 44, 23, 98, 10
	LTEXT "&Files:", -1, 8, 35, 64, 10
	CONTROL "", 4093, "LISTBOX", LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 47, 64, 82
	LTEXT "&Directories:", -1, 78, 35, 64, 10
	CONTROL "", 4092, "LISTBOX", LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 78, 47, 64, 82
	DEFPUSHBUTTON "&OK", 1, 148, 8, 50, 14
	PUSHBUTTON "&Cancel", 2, 148, 26, 50, 14
END

DIALOG_1 DIALOG 31, 24, 317, 139
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "MODULATION"
BEGIN
	CONTROL "Button", 401, "BorBtn", BBS_BITMAP | WS_CHILD | WS_VISIBLE, 5, 4, 271, 113
	DEFPUSHBUTTON "OK", IDOK, 274, 115, 32, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END
1401 BITMAP "bitmap_1.bmp"
1402 BITMAP "bitmap_2.bmp"

DIALOG_2 DIALOG 2, 19, 338, 152
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "DEMODULATION  SIMPLE"
BEGIN
	CONTROL "Button", 402, "BorBtn", BBS_BITMAP | WS_CHILD | WS_VISIBLE, 3, 5, 301, 143
	PUSHBUTTON "OK", IDOK, 249, 121, 32, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

DIALOG_3 DIALOG -37, 19, 168, 81
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Paramètre Modulation"
BEGIN
	LTEXT "Paramètre a :", -1, 22, 15, 48, 9
	PUSHBUTTON "&Valider", 106, 23, 53, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Annuler", IDCANCEL, 101, 53, 40, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "     delta :", -1, 34, 32, 31, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "1", 107, "EDIT", ES_LEFT | ES_NOHIDESEL | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 71, 12, 35, 12
	CONTROL "5", 108, "EDIT", ES_LEFT | ES_NOHIDESEL | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 71, 30, 35, 12
END
DIALOG_4 DIALOG 27, 21, 174, 128
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Paramètres Démodulation"
BEGIN
	CONTROL "1,5", 110, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 105, 13, 47, 12
	CONTROL "1,5", 111, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 105, 34, 47, 12
	CONTROL "0,0", 112, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 105, 55, 47, 12
	CONTROL "5,0", 113, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 105, 76, 47, 12
	LTEXT "alpha+ :", -1, 34, 15, 45, 8
	LTEXT "alpha- :", -1, 34, 36, 45, 8
	LTEXT "delta_min :", -1, 34, 57, 45, 8
	LTEXT "delta_max :", -1, 34, 78, 45, 8
	PUSHBUTTON "&Valider", 108, 26, 101, 34, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Annuler", IDCANCEL, 101, 101, 34, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END
DIALOG_5 DIALOG 18, 14, 324, 160
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "DEMODULATION  ADAPTATIF"
BEGIN
	CONTROL "Button", 403, "BorBtn", BBS_BITMAP | WS_CHILD | WS_VISIBLE, 7, 6, 318, 144
	PUSHBUTTON "OK", IDOK, 240, 125, 32, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END
1403 BITMAP "bitmap_3.bmp"
1404 BITMAP "bitmap_4.bmp"
DIALOG_6 DIALOG 18, 22, 267, 127
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "MODULATION DELTA ADAP."
BEGIN
	CONTROL "Button", 404, "BorBtn", BBS_BITMAP | WS_CHILD | WS_VISIBLE, 27, 3, 116, 90
	PUSHBUTTON "OK", IDOK, 228, 110, 24, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END
