/*-----------------------------------
   ABOUT1.RC : Fichier des ressources
  -----------------------------------*/

/*#include <windows.h>
#include "colors1.h"

About1 ICON colors1.ico

About1 MENU
     {
     POPUP "&Aide"
          {
          MENUITEM "&A propos de About1...",       IDM_ABOUT
          }
     }

AboutBox DIALOG  20, 20, 160, 80
     STYLE WS_POPUP | WS_DLGFRAME
     {
     CTEXT "About1"                            -1,   0, 12, 160,  8
     ICON  "About1"                            -1,   8,  8,   0,  0
     CTEXT "Demonstration de boite A Propos"   -1,   0, 36, 160,  8
     CTEXT "(c) Charles Petzold, 1992"         -1,   0, 48, 160,  8
     DEFPUSHBUTTON "OK"                      IDOK,  64, 60,  32, 14, WS_GROUP
     } 
  */
/*-----------------------------------
   SHOWDIB.RC : Fichier de ressources
  -----------------------------------*/

#include "image1.h"
#include <windows.h>

#define SBS_VERT_TAB (SBS_VERT | WS_TABSTOP)

Image1 MENU
     {
     POPUP "&Fichier"
          {
          MENUITEM "&Ouvrir...",               IDM_OPEN
          MENUITEM "&Quitter",			IDM_QUITTER
	  }
     POPUP "&Taille Image"
	{
	MENUITEM "&SetDIBitsToDevice : Grandeur réelle",		IDM_SETDIBITSTODEVICE,
	MENUITEM "&StretchDIBits : Toute la fenêtre",			IDM_STRETCHDIBITS
	MENUITEM "&BitBlt : Grandeur réelle",				IDM_BITBLT_GRANDEUR_REELLE
	MENUITEM "&StretchBlt : Toute la fenetre",			IDM_STRETCHBLT_GRANDEUR_FENETRE
	MENUITEM "&Grandeur maximale toutes proportions gardées",	IDM_STRETCHBLT_GRANDEUR_FENETRE_PROPORTIONNEL, CHECKED
	}
     POPUP "&Couleurs"
       {
       MENUITEM "&Réglage...",						IDM_REGLAGE_COULEURS,	GRAYED
       }
     }




ColorsBox DIALOG  8, 16, 124, 180//132
     STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU |WS_VISIBLE
     CAPTION "Curseurs de reglages des couleurs"
     {
     RADIOBUTTON "Pourcentage",IDD_POURCENTAGE,10,90,110,12
     RADIOBUTTON "Saturation des couleurs",IDD_SATURATION,10,110,110,12
     CONTROL "&Rouge", -1, "static",    SS_CENTER,    10,   4, 24,   8
     CONTROL "",       10, "scrollbar", SBS_VERT_TAB, 10,  16, 24, 50
     CONTROL "0",      13, "static",    SS_CENTER,    10, 70, 24,   8
     CONTROL "&Vert",  -1, "static",    SS_CENTER,    50,   4, 24,   8
     CONTROL "",       11, "scrollbar", SBS_VERT_TAB, 50,  16, 24, 50
     CONTROL "0",      14, "static",    SS_CENTER,    50, 70, 24,   8
     CONTROL "&Bleu",  -1, "static",    SS_CENTER,    90,   4, 24,   8
     CONTROL "",       12, "scrollbar", SBS_VERT_TAB, 90,  16, 24, 50
     CONTROL "0",      15, "static",    SS_CENTER,    90, 70, 24,   8
     PUSHBUTTON "OK"	IDOK,80,130,40,14
      PUSHBUTTON "Redessiner"	IDD_REDESSINER,10,130,40,14}
